$platinum: #E6E6E6;
$dust: #939290;
$sea: #57d4f4;
$fucsia: #ff00ff;


.text-red {
  color: #FB3523;
}

.text-white {
  color: #F1F6F9;
}

.text-green {
  color: #548C2F;
}

.text-orange {
  color: #F9A620;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  box-shadow: 5px 5px 5px orange;
  color: orange;
}
