@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600;900&family=Work+Sans:wght@400;900&display=swap');

$home: 'Source Code Pro', monospace;
$headers: 'Work Sans', sans-serif;


h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  //box-shadow: 10px 10px 5px #CCE4C4;
}


h2, h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

p, h5 {
font-family: 'Source Code Pro', monospace;
font-weight: 300;
}

h6 {
font-family: 'Work Sans', sans-serif;
font-weight: 900;
font-size: 80px;
}

h4 {
font-family: 'Work Sans', sans-serif;
font-weight: 900;
//font-size: 20px;
}

