@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap');


$home: 'Source Code Pro', monospace;
$headers: 'Zen Kaku Gothic Antique', sans-serif;


h1 {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  size: 36px;
}
