
<head>
  <script src="https://unpkg.com/scrollreveal"></script>

</head>

<body>
  <nav class="navbar navbar-dark bg-black pl-2">
  <div class="container-fluid">
<button type="button" class="btn btn-outline-light position-absolute top-50 start-50">For companies</button>
  </div>
</nav>
</div>
</div>
<div class="div-home">
 <div class="row justify-content-evenly">
    <div class="col-6">
      <h1 class="display-4 bold text-white">
          <ul> Coding challenges</ul>
          <ul> Engineering practices </ul>
          <ul> Mentors from the companies you 💕</ul>
      </h1>


</div>
   <div class="col-6">
    <div class="card-pink">
<div class="card mb-2 shadow" style="background-color: white;">
  <div class="card-body">
    <h4 class="card-title">01. Set Goals ✅ </h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="card-white">
<div class="card mb-2 shadow" style="background-color: white;">
  <div class="card-body">
    <h4 class="card-title">02. Find mentors and peers ✅</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="card-green">
<div class="card mb-2 shadow" style="background-color: white;">
  <div class="card-body">
    <h4 class="card-title">03. Learn from your favourite tech companies ✅</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  </div>

  </div>

  </div>
</div>
<div class="div-white-home">

    <div class="col-6" style="background-color: #E3C2E0;" >
<p> 01. Follow topics
Whether you're looking to level up your JavaScript skills, etc
you can follow specific topics to understand what others are doing in that space.
02. Set Goals - publish goals and find your mentors and peers to help you achieve them.
03. Collaboration > Competition. Level up in a collaborative way
04. Improve your skills. Whether as mentor or as mentee, improve your communication skills and learn about </p>
    </div>
  </div>
    </div>
  </div>
</div>

</div>

<script>
  ScrollReveal().reveal('.card-pink');
  ScrollReveal().reveal('.card-white',{ delay: 300 });
  ScrollReveal().reveal('.card-green',{ delay: 500 });
  ScrollReveal({ reset: true });
</script>
</body>
