<div class="row">
    <div class="col-3">
      <h1 class="position-relative top-50 start-0 translate-middle-y"> Building the next generation of CTOs
     <%= link_to "Find a mentor", "#", class: "btn btn-ghost" %>
     </h1>
    </div>
  <div class="col-9">
   <%= image_tag "landing-alt.png", height: 560 %>
  </div>
</div>
