
<head>
  <script src="https://unpkg.com/scrollreveal"></script>

</head>

<body>
<div class="div-home">
 <div class="row justify-content-evenly">
    <div class="col-4">
      <h1 class="display-2 bold text-white"> Building the next generation of CTOs</h1>

</div>
   <div class="col-6">
<div class="card mb-2" style="background-color: #E3C2E0;">
  <div class="card-body">
    <h4 class="card-title">01. Set Goals</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card mb-2" style="background-color: white;">
  <div class="card-body">
    <h4 class="card-title">02. Find mentors and peers </h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card mb-2" style="background-color:#C4E4C6;">
  <div class="card-body">
    <h4 class="card-title">03. Learn from your favourite tech companies </h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

  </div>

  </div>






  </div>
<script>
  ScrollReveal().reveal('.p-3');
</script>
</body>
