<head>
</head>
<body>
<div class="row justify-content-evenly">
  <div class="div-lilac">
  <div class="col-6">
        <h6 class="text-orange">
            <ul> BUILD YOUR EMPLOYER BRAND </h6>
        <ul> <h6 class="text-black"> DRIVE REFERRALS </ul> </h6>
         <h6> <ul> <%= link_to "JOIN Waitlist", "landing", class: "btn btn-orange" %> </ul> </h6> <ul>
    </div>

        <div class="col-6">
          <div class="card-photo">

      <a href="landing.png"> </a>
          </div>
        </h6>
      </div>
  </div>
  </div>
 </div>
</div>
</div>
<div class="row justify-content-evenly">
<div class="col-6">
  <div class="div-yellow">
        <h6 class="text-red">
            <ul> MAKE CULTURE YOUR USP </ul>
        </h6>
        <h1 class="text-red">
          <ul> </ul>
      </div>
  </div>
  <div class="col-6">
  <div class="div-white">
        <h1 class="text-black">
            <ul> Showcase the things you care about to attract the right teammates. </ul>
        </h1>
      </div>
  </div>
  </div>
</div>

<div class="row justify-content-evenly">
  <div class="col-6">
<div class="div-white">
      <h1 class="text-black">
          <ul> Incentivise your team to talk about their work and distribute it with one click. </ul>
      </h1>
</div>
</div>
 <div class="col-6">
<div class="div-pink">
      <h6 class="text-green">
          <ul> BE SEEN </ul>
      </h6>
   <h1 class="text-green">
    <ul> in the right places </ul></h1>
</div>
</div>

<div class="row justify-content-evenly">
  <div class="col-6">
<div class="div-blue">
      <h6 class="text-orange">
          <ul> BUILD COMMUNITY </ul>
      </h6>
    <h1 class="text-orange">
    <ul> meaningfully </ul></h1>
</div>
</div>
 <div class="col-6">
<div class="div-white">
      <h1 class="text-black">
          <ul> Participate in events, coding challenges, mentoring opportunities and 121s and attract future team members. </ul>
      </h1>
</div>
</div>


</div>
<script>

</script>
</body>
