<head>
  <script>
import LocomotiveScroll from 'locomotive-scroll';
  </script>
</head>
<body>

<div class="div-white">
      <h6 class="text-black">
          <ul> BUILD YOUR EMPLOYER BRAND & DRIVE REFERRALS </ul>
        <ul> <%= link_to "JOIN Waitlist", "landing", class: "btn btn-orange" %> </ul>
      </h6>
</div>
</div>
</div>
<div class="row justify-content-evenly">
<div class="col-6">
  <div class="div-yellow">
        <h6 class="text-red">
            <ul> COME AS YOU ARE </ul>
        </h6>
        <h1 class="text-red">
          <ul> make culture your USP</ul>
      </div>
  </div>
  <div class="col-6">
  <div class="div-white">
        <h1 class="text-black">
            <ul> Showcase the things you care about to attract the right teammates. </ul>
        </h1>
      </div>
  </div>
  </div>
</div>

<div class="row justify-content-evenly">
  <div class="col-6">
<div class="div-white">
      <h1 class="text-black">
          <ul> Incentivise your team to talk about their work and distribute it with one click. </ul>
      </h1>
</div>
</div>
 <div class="col-6">
<div class="div-pink">
      <h6 class="text-green">
          <ul> BE SEEN </ul>
      </h6>
   <h1 class="text-green">
    <ul> in the right places </ul></h1>
</div>
</div>

<div class="row justify-content-evenly">
  <div class="col-6">
<div class="div-blue">
      <h6 class="text-orange">
          <ul> BUILD COMMUNITY </ul>
      </h6>
    <h1 class="text-orange">
    <ul> meaningfully </ul></h1>
</div>
</div>
 <div class="col-6">
<div class="div-white">
      <h1 class="text-black">
          <ul> Participate in events, coding challenges, mentoring opportunities and 121s and attract future team members. </ul>
      </h1>
</div>
</div>


</div>
<script>

</script>
</body>
