<head>
  <script src="https://unpkg.com/scrollreveal"></script>

</head>

<body>
  <nav class="navbar navbar-light" style="background-color: #E7D1FF;">
<div class="container-fluid justify-content-end">
  <div class="nav-item">
        <h4> <a class="nav-link active" aria-current="page" href="#">Content</a> </h4>
        </div>
  <div class="nav-item">
         <h4> <a class="nav-link active" aria-current="page" href="#">Community</a> </h4>
        </div>
  <div class="nav-item">
       <h4> <a class="nav-link active" aria-current="page" href="#">Referrals</a></h4>
        </div>
 <ul><%= link_to "JOIN Beta", "register", class: "btn btn-white" %> </ul>
</div>
</nav>

  <div class="div-lilac">
<div class="row justify-content-evenly">
  <div class="col-4">
    <h6 class="text-black">
      <ul> TURN YOUR ENGINEERS INTO YOUR BRAND AMBASSADORS  </h6> </ul>

      <ul> <h6 class="text-black">  </ul> </h6>
       </ul> </h6> </div>

<div class="col-6">
  <br>
  <br>

<div class="row justify-content-evenly">

<div class="card text-dark bg-white mb-3" style="max-width: 20rem;">
<h4 class="card-header">BE SEEN</h4>
  <div class="card-body">
    <h3 class="text-orange">Incentivise your team to talk about their work and distribute it with one click.</h3>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <h4 class="card-header">GET REFERRALS</h4>
  <div class="card-body">
    <h3 class="text-orange"> Internal and external, local and global, wherever you're looking to hire. </h3>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <h4 class="card-header text-orange">BUILD COMMUNITY</h4>

  <div class="card-body">
    <h3 class="text-white"> Join events, 1-2-1s and find mentoring opportunities to attract future team members.</h3>
  </div>
</div>
  <div class="card text-black bg-white mb-3" style="max-width: 20rem;">
  <h4 class="card-header text-orange">MAKE CULTURE YOUR USP</h4>
  <div class="card-body">
    <h3 class="text-black">Showcase the things you care about to attract the right teammates.</h3>

  </div>
</li>

</div>
</div>
</div>
</div>
</div>
<div class="row justify-content-evenly">
<div class="col-6">
  <div class="div-yellow">
        <h6 class="text-red">
            <ul> MAKE CULTURE YOUR USP </ul>
        </h6>
        <h1 class="text-red">
          <ul> </ul>
      </div>
  </div>
  <div class="col-6">
  <div class="div-white">
        <h1 class="text-black">
            <ul> Showcase the things you care about to attract the right teammates. </ul>
        </h1>
      </div>
  </div>
  </div>
</div>

<div class="row justify-content-evenly">
  <div class="col-6">
<div class="div-white">
      <h1 class="text-black">
          <ul> Incentivise your team to talk about their work and distribute it with one click. </ul>
      </h1>
</div>
</div>
 <div class="col-6">
<div class="div-pink">
      <h6 class="text-green">
          <ul> BE SEEN </ul>
      </h6>
   <h1 class="text-green">
    <ul> in the right places </ul></h1>
</div>
</div>

<div class="row justify-content-evenly">
  <div class="col-6">
<div class="div-blue">
      <h6 class="text-orange">
          <ul> BUILD COMMUNITY </ul>
      </h6>
    <h1 class="text-orange">
    <ul> meaningfully </ul></h1>
</div>
</div>
 <div class="col-6">
<div class="div-white">
      <h1 class="text-black">
          <ul> Participate in events, coding challenges, mentoring opportunities and 121s and attract future team members. </ul>
      </h1>
</div>
</div>


</div>
<script>
  ScrollReveal().reveal('.text-orange');
  ScrollReveal().reveal('.text-black',{ delay: 300 });
  ScrollReveal().reveal('.card-light',{ delay: 500 });
  ScrollReveal().reveal('.card-yellow',{ delay: 600 });
  ScrollReveal({ reset: true });
</script>
</body>
