 .card-photo {
  overflow: hidden;
  //height: 500px;
  //width: 100px;
  background: transparent;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-photo img {
  height: 100%;
  width: 100%;
  background-size: cover;
}


.div-home {
  padding: 10%;
  background-color: #0D0C0C;
}

.div-blue {
  padding: 10%;
  background-color: #d4e8f8;
  //position: fixed;
}
.div-white {
  padding: 10%;
  background-color: white;

}
.div-yellow {
  padding: 10%;
  background-color: #fafbc6;
}

.div-green {
  padding: 10%;
  background-color: #86dfd5;
}

.div-white-home {
  padding: 10%;
}

.div-lilac {
  background-color: #E7D1FF;
}

.div-pink {
  padding: 10%;
  background-color: #E3C2E0;
}

.grid {
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.card-pink, .card-white, .card-green, .card-yellow {
  box-shadow: 5px 5px 5px lightblue;
}

